* {
    padding: 0;
}
body {
    width: 300px;
    margin: 0px auto;
}

h3 {
    width: 100%;
    text-align: center;
    margin: 30px 0;
}

.con1 {
    width: 80px;
    height: 80px;
    margin: 10px auto;
}

.con1 span {
    display: inline-block;
    width: 8px;
    height: 100%;
    background: cyan;
    border-radius: 4px;
    animation: loading1 1s ease infinite;
}

@keyframes loading1 {
    0%, 100%{
        height: 40px;
        margin: 20px auto;
        background: lightgreen;
    }
    50% {
        height: 80px;
        margin: 0 auto;
        background: cyan;
    }
}

.con1 span:nth-child(1){
    animation-delay: -0.2s;
}

.con1 span:nth-child(2){
    animation-delay: -0.4s;
}

.con1 span:nth-child(3){
    animation-delay: -0.6s;
}

.con1 span:nth-child(4){
    animation-delay: -0.8s;
}

.con2 {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    position: relative;
}

.con2 span {
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background: lightgreen;
    position: absolute;
    animation: loading2 1.2s ease infinite;
}

@keyframes loading2 {
    0% {
        transform: scale(1.1);
        opacity: 1;
    }
    100% {
        transform: scale(0.1);
        opacity: 0;
    }
}

.con2 span:nth-child(1) {
    top: 45px;
    left: 0px;
}

.con2 span:nth-child(2) {
    top: 10px;
    left: 10px;
    animation-delay: -0.15s;
}

.con2 span:nth-child(3) {
    top: 0px;
    left: 45px;
    animation-delay: -0.3s;

}

.con2 span:nth-child(4) {
    top: 10px;
    left: 80px;
    animation-delay: -0.45s;

}

.con2 span:nth-child(5) {
    top: 45px;
    left: 90px;
    animation-delay: -0.60s;

}

.con2 span:nth-child(6) {
    top: 80px;
    left: 80px;
    animation-delay: -0.75s;

}

.con2 span:nth-child(7) {
    top: 90px;
    left: 45px;
    animation-delay: -0.90s;

}

.con2 span:nth-child(8) {
    top: 80px;
    left: 10px;
    animation-delay: -0.105s;

}

.box{
    margin: 0 auto;
    position:relative;
    width:100px;
    height:100px;
    animation:loading3 3s linear infinite;
}

@keyframes loading3 {
    100% {
        transform:rotate(360deg)
    }
}

.box1{
    position:absolute;
    width: 50px;
    height: 100px;
    border-radius:50px 0 0 50px;
    background: linear-gradient(to bottom,#999, #d0cfcf);
    z-index:1;
}

.box2{
    position:absolute;
    width: 50px;
    height: 100px;
    border-radius:0 50px 50px 0;
    left:50%;
    background: linear-gradient(#eee,#d0cfcf);
    z-index:1;
}

.box3{
    position:absolute;
    width:92px;
    height:92px;
    top:4px;
    left:4px;
    border-radius:50%;
    background-color: white;
    z-index:2;
}
