body {
    background: black;
}

.container {
    perspective: 1600px;
}

.wrap {
    width: 200px;
    height: 200px;
    margin: 250px auto;
    position: relative;
    transform-style: preserve-3d;
    transform: rotateX(30deg) rotateY(30deg);
    animation: rotate 6s linear infinite;
}

@keyframes rotate {
    0% {
        transform: rotateX(0deg) rotateY(0deg);
    }
    100% {
        transform: rotateX(360deg) rotate(360deg);
    }
}

.wrap div {
    width: 210px;
    height: 210px;
    line-height: 210px;
    text-align: center;
    position: absolute;
    font-size: 50px;
    color: #fff;
    background-color: black;
    opacity: 0.5;
    border: 1px solid yellow;
    box-shadow: 0 0 20px 2px yellow;
}

.box1 {
    background: red;
    transform: translateZ(105px);
}

.box2 {
    background: orange;
    transform: translateZ(-105px) rotateY(180deg);
}

.box3 {
    background: blue;
    transform: translateX(105px) rotateY(90deg);
}

.box4 {
    background: green;
    transform: translateX(-105px) rotateY(-90deg);
}

.box5 {
    background: cyan;
    transform: translateY(-105px) rotateX(90deg);
}

.box6 {
    background: purple;
    transform: translateY(105px) rotateX(-90deg);
}

.box7 {
    background: red;
    transform: translateZ(35px);
}

.box8 {
    background: orange;
    transform: translateZ(-35px);
}

.box9 {
    background: yellow;
    transform: translateX(35px) rotateY(90deg);
}

.box10 {
    background: yellow;
    transform: translateX(-35px) rotateY(-90deg);
}

.box11 {
    background: blue;
    transform: translateY(35px) rotateX(90deg);
}

.box12 {
    background: cyan;
    transform: translateY(-35px) rotateX(-90deg);
}