* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0,0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.container a {
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    border: 2px solid #0f0;
    letter-spacing: 2px;
    margin: 40px;
    text-decoration: none;
    font-weight: 600;
    text-transform: uppercase;
    color: #fff;
    /* -webkit-box-reflect: below 0px linear-gradient(transparent, #0001); */
    transition: 0.5s;
    transition-delay: 0s;
}

.container a:hover {
    color: #000;
    box-shadow: 0 0 10px #0f0,
                0 0 20px #0f0,
                0 0 40px #0f0,
                0 0 80px #0f0,
                0 0 160px #0f0;
    transition-delay: 1.5s;
}

.container a:nth-child(2){
    filter: hue-rotate(80deg)
}

.container a::before {
    content: '';
    width: 20px;
    height:2px;
    position: absolute;
    left: -20px;
    transform: translateY(-50%);
    top: 50%;
    background-color: #0f0;
    box-shadow: 5px -8px 0 #0f0,
                5px 8px 0 #0f0;
    transition: width 0.5s, left 0.5s, height 0.5s,
        box-shadow 0.5s;
    transition-delay: 1s, 0.5s, 0s, 0s;
}

.container a:hover::before {
    width: 60%;
    height: 100%;
    left: -2px;
    box-shadow: 0 0 0 #0f0,
                0 0 0 #0f0;
    transition-delay: 0s, 0.5s, 1s, 1s;
}

.container a::after {
    content: '';
    width: 20px;
    height:2px;
    position: absolute;
    right: -20px;
    transform: translateY(-50%);
    top: 50%;
    background-color: #0f0;
    box-shadow: -5px -8px 0 #0f0,
                -5px 8px 0 #0f0;
    transition: width 0.5s, left 0.5s, height 0.5s,
        box-shadow 0.5s;
    transition-delay: 1s, 0.5s, 0s, 0s;
}

.container a:hover::after {
    width: 60%;
    height: 100%;
    right: -2px;
    box-shadow: 0 0 0 #0f0,
                0 0 0 #0f0;
    transition-delay: 0s, 0.5s, 1s, 1s;
}

.container a span {
    z-index: 100;
    position: relative;
}