* {
    margin: 0;
    padding: 0;
}
.container {
    width: 600px;
    margin: 20px auto;
}

td {
    text-align: center;
}

.main {
    width: 600px;
    height: 480px;
}

.title {
    font-size: 24px;
    color: #000;
    font-weight: 600;
    height: 40px;
    width: 100%;
    text-align: center;
}

.smallTitle {
    width: 120px;
    font-size: 15px;
}

.name,.nation,.major{
    height: 40px;
}

.ip1 {
    width: 140px;
    height: 40px;
    border: 0;
}

input {
    outline-color: red;
    color: blue;
    padding: 0 10px;
    overflow: clip;
    text-overflow: ellipsis;
}

textarea {
    outline-color: red;
}

.picContainer {
    width: 100px;
}

.pic {
    width: 90px;
    height: 110px;
}

.ip2 {
    width: 510px;
    height: 170px;
    border: 0;
}